[package]
name = "canyon_connection"
version = "0.2.0"
edition = "2021"
documentation = "https://zerodaycode.github.io/canyon-book/"
homepage = "https://github.com/zerodaycode/Canyon-SQL"
readme = "../README.md"
license = "MIT"
description = "A Rust ORM and QueryBuilder"


[dependencies]
tokio = { version = "1.21.2", features = ["full"] }
tokio-util = { version = "0.7.4", features = ["compat"] }
tokio-postgres = { version = "0.7.2", features = ["with-chrono-0_4"] }
futures = "0.3.25"
indexmap = "1.9.1"

tiberius = { version = "0.12.1", features = ["tds73", "chrono", "integrated-auth-gssapi"] }
async-std = { version = "1.12.0" }

lazy_static = "1.4.0"

serde = { version = "1.0.138", features = ["derive"] }
toml = "0.7.3"

