[package]
name = "canyon_connection"
version = "1.0.0"
edition = "2021"

[dependencies]
tokio = { version = "1.21.2", features = ["full"] }
tokio-util = { version = "0.7.4", features = ["compat"] }
tokio-postgres = { version = "0.7.2", features = ["with-chrono-0_4"] }
futures = "0.3.25"
indexmap = "1.9.1"

tiberius = { version = "0.11.3", features = ["tds73", "chrono"] }
async-std = { version = "1.12.0" }

lazy_static = "1.4.0"

serde = { version = "1.0.138", features = ["derive"] }
toml = "0.5.9"