name: Build project

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      working-directory: ./canyon_sql
      run: cargo build --verbose
    - name: Run tests
      working-directory: ./canyon_sql
      run: cargo test --verbose